/* Header */

.site-header {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 3.6rem;
	padding-bottom: 3.6rem;
	background-color: #fff;
}

.site-header .container {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
}

.ubiquity {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
}

.ubiquity__logo {
	margin-right: 2rem;
}

.ubiquity__title {
	margin-left: 2rem;
	font-size: 2rem;
	color: var(--grey-dark);
}

.ubiquity__baseline {
	display: block;
	margin-top: 0.5rem;
	font-family: Montserrat, sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
}

.main-nav__toggler {
	display: grid;
	gap: 0.5rem;
	padding: 0;
	border: 0;
	background-color: transparent;
}

.main-nav__bar {
	width: 3rem;
	height: 0.5rem;
	background-color: var(--grey);
	transition: 0.3s;
}

.main-nav__bar:first-child {
	transform-origin: left top;
}

.main-nav__bar:last-child {
	transform-origin: left bottom;
}

.main-nav__toggler[aria-expanded="true"] .main-nav__bar:first-child {
	transform: rotate(45deg);
}

.main-nav__toggler[aria-expanded="true"]
	.main-nav__bar:not(:first-child):not(:last-child) {
	opacity: 0;
}

.main-nav__toggler[aria-expanded="true"] .main-nav__bar:last-child {
	transform: rotate(-45deg);
}

.main-nav__list {
	position: absolute;
	top: calc(100% + 3.6rem);
	left: 0;
	right: 0;
	display: block;
	background-color: #fff;
	transition: 0.3s;
	transform: translateX(-200%);
}

.main-nav__toggler[aria-expanded="true"] + .main-nav__list {
	transform: translateX(0);
}

.main-nav__link {
	display: block;
	padding: 1.6rem 2rem;
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: uppercase;
	color: currentColor;
	text-decoration: none;
	transition: 0.3s;
}

.main-nav__link:hover,
.main-nav__link:focus {
	color: #fff;
	background-color: var(--primary);
}

@media screen and (min-width: 62em) {
	.main-nav__toggler {
		display: none;
	}

	.main-nav__list {
		position: static;
		display: flex;
		transform: none;
	}
}
